<extend name="Index/index" />

<block name="main">
    <div>
        <h2 style="text-align:center;line-height:80px;">个人中心</h2>
    </div><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-1 col-md-2 main-sidebar">
                <div class="view3">
                    <div class="card sidebar-nav">
                        <ul class="nav">
                            <li class="is-current">
                                <a href="<{:U('Personal/index')}>"><span class="icon icon-user nav-icon"></span><br>
                                <span class="nav-title">个人信息</span></a>
                            </li>

                            <li>
                                <a href="<{:U('Personal/avatar')}>"><span class="icon icon-eye nav-icon"></span><br>
                                <span class="nav-title">修改头像</span></a>
                            </li>

                            <li>
                                <a href="<{:U('Personal/security')}>"><span class="icon icon-lock2 nav-icon"></span><br>
                                <span class="nav-title">安全设置</span></a>
                            </li>


                            <li>
                                <a href="<{:U('Collect/index')}>"><span class="icon icon-th-stroke nav-icon"></span><br><span class="nav-title">我的收藏</span></a>
                            </li>

                            <li>
                                <a href="<{:U('PersonOrders/index')}>"><span class="icon icon-switch nav-icon"></span><br>
                                <span class="nav-title">我的订单</span></a>
                            </li>

                            <li>
                                <a href="<{:U('Comment/index')}>"><span class="icon icon-switch nav-icon"></span><br>
                                <span class="nav-title">我的评论</span></a>
                            </li>

                        </ul>
                    </div><!--END sidebar-nav -->
                </div>
            </div>
            <!-- *********************************************** -->
            <div class="col-sm-10 col-md-10 main-content">
                <div class="layer">
                    <div class="view5 is-loaded">
                        <div class="card profile-manager">
                            <div class="card-content">
                                <div class=".table-responsive">
                                    <if condition="$list eq null">
                                        暂无评论
                                    <else />
                                        <table class="table table-bordered table-hover">
                                            <tr class="active">
                                                <th style='vertical-align: middle;text-align: center;' width="15%">房屋名</th>
                                                <th style='vertical-align: middle;text-align: center;' width="*">评论内容</th>
                                                <th style='vertical-align: middle;text-align: center;' width="25%">评论时间</th>
                                                <th style='vertical-align: middle;text-align: center;' width="15%">操作</th>
                                            </tr>
                                            <volist name="list" id="vo">
                                            <tr class="success">
                                                <td style='vertical-align: middle;text-align: center;'><{$vo['name']}></td>
                                                <td style='vertical-align: middle;text-align: center;'><{$vo['desc']}></td>
                                                <td style='vertical-align: middle;text-align: center;'><{$vo['createtime']}></td>
                                                <td style='vertical-align: middle;text-align: center;'>
                                                    <a href="<{:U('Comment/del', array('id'=>$vo['id']))}>">
                                                        <span class="glyphicon glyphicon-remove btn-danger btn-sm"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            </volist>
                                        </table> <!--END table-->
                                        <{$page}>
                                    </if>
                                </div> <!--END responsive-->
                            </div>
                        </div>
                    </div><!-- END view5-->
                </div><!-- END layer-->
            </div>
        </div><!--END row-->
    </div><!--END container-->

</block>
<!--//contact-->
<!--footer-->
