<extend name="Layout/index" />
<block name="breadcrumb-01">
	<li>
		<i class="icon-home home-icon"></i>
		<a href="#">角色管理</a>
	</li>
	<li class="active">角色管理</li>
</block>

<block name="breadcrumb-02">
	<h1>
		角色管理
		<small>
			<i class="icon-double-angle-right"></i>
			 角色列表
		</small>
	</h1>
</block>
<block name="main">
	
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr align='left' bgcolor="#ccc">
					<th>ID</th>
					<th>角色名</th>
					<th>状态</th>
					<th>说明</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			<volist name="list" id="vo">
				<tr>
					<td><{$vo.id}></td>
					<td><{$vo.name}></td>
					<td>
						<if condition="$vo.status eq 0">冻结
						<else /> 激活
						</if>
					</td>
						
					<td><{$vo.remark}></td>
					<td>
						<a href="<{:U('Role/del',array('id'=>$vo['id']))}>">删除</a>
						<a href="<{:U('Role/edit',array('id'=>$vo['id']))}>">修改</a>
						<a href="<{:U('Role/rolelist',array('id'=>$vo['id']))}>">分配角色</a>
					</td>
				</tr>
			</volist>
			</tbody>
			
			
		</table>
	
</block>